@media (max-width: 3000px){
  .header{
    height: 10vh;
    background-color: #fff;
    border-color: #f1f6ed;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    margin-bottom: 50px;
    width: 1045px;
      h1{
          text-align: center;
          height: 100px;
          line-height: 100px;
      }
  }
  
  nav {
      padding: 10px;
      display: flex;
      grid-gap: 20px;
      & > .active {
        color: #f53c76;
        font-weight: bold;
      }
    }
} 

@media (max-width: 1300px){
  .header{
    width: 860px;
  }
}


@media (max-width: 960px){
  .header{
    width: 558px;
  }
}


@media (max-width:615px) {
  .header{
    width: 450px;
  }

}