    nav {
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            background-image: linear-gradient(45deg, wheat, crimson);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
        ul {
            li {
                display: inline-block;
                a {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    margin-inline-start: 25px;
                    padding: .75rem 0;
                    transition: .3s ease-in-out;
                }
            }
        }
        .menu-btn{
            display: none;
            font-size: 23px;
        }
    }
    .nav-container ul li a:hover {
        color: crimson;
    }
}

@media (max-width: 3000px) {
    nav {
        .nav-container {
            .logo {
                font-size: 3.5em;
            }
            ul {
                li {
                    display: inline-block;
                    &>.active {
                        border-bottom: 2px solid wheat;
                        transition: all 0.3s ease;
                        border-color: crimson;
                    }
                    &>.active:hover {}
                }
            }
        }
    }
    @media (max-width: 991px) {
        nav {
            .nav-container{
                ul {
                    li {
                        display: block;
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 947px){
    nav{
        .nav-container{
            ul{
                position: fixed;
                height: 100vh;
                width: 100%;
                left: -100%;
                top: 0;
                background: #111;
                text-align: center;
                padding-top: 80px;  
                transition: all 0.3s ease;
                li{
                    display: block;
                    a{
                        display: inline-block;
                        margin: 20px 0;
                        font-size: 25px;
                    }
                }
            }
            ul.active{
                left: 0;
                z-index: 1;
            }
            .menu-btn {
                display: block;
                z-index: 999;
            }
        }
    }
}
