.todo-app-container{
    margin-top: 55px;
    input{
        margin-bottom: 30px;
    }
}
.sort-btn-container {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
    button{
        height: 27px;
    }
}
.content-btn {
    width: 355px;
}
.date-btn {
    width: 250px;
}
.status-btn {
    width: 140px;
}
.importance-btn {
    width: 195px;
}