.add-btn {
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    background-color: rgb(49, 45, 45);
}




@media (max-width: 3000px) {
    .todo-app-container {
        margin-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            margin-bottom: 30px;
        }
        .add-btn {
            margin-bottom: 32px;
        }
    }
    .add-todo-container {
        margin-bottom: 30px;
    }
    .sort-btn-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
        button {
            height: 27px;
            border:none;
        }
    }
    .content-btn {
        min-width: 355px;
        margin-right: 40px;
    }
    .date-btn {
        min-width: 250px;
        margin-right: 36px;
    }
    .status-btn {
        min-width: 105px;
        margin-right: 70px;
    }
    .importance-btn {
        min-width: 193px;
    }
}

@media (max-width: 1300px) {
    .todo-app-container {
        .upper-section {
            height: 180px;
            padding-left: 0px;
        }
        .content-btn {
            margin-right: 28px;
        }
        .date-btn {
            min-width: 213px;
            margin-right: 13px;
        }
        .status-btn {
            min-width: 60px;
            margin-right: 16px;
        }
        .importance-btn {
            min-width: 179px;
        }
    }
}

@media (max-width: 900px) {
    .todo-app-container {
        .sort-btn-container {
            gap: 37px;
            button {
                min-width: 120px;
                min-width: 92px;
            }
            button:not(:last-child) {
                margin-right: 27px;
            }
        }
    }
}

@media (max-width: 615px) {
    .todo-app-container {
        .sort-btn-container {
            grid-gap: 0;
        }
    }
}

@media (max-width: 500px) {
    .todo-app-container {
        .sort-btn-container {
            button {
                min-width: 75px;
            }
        }
    }
}

@media only screen and (max-width: 420px) and (max-height: 740px) {
    .todo-app-container {
        .upper-section {
            height: 148px;
            width: 380px;
        }
    }
}

@media (max-width: 385px) and (max-height: 900px) {
    .todo-app-container {
        height: 630px;
        margin-bottom: 0;
        .sort-btn-container {
            // button:not(:last-child) {
            //     margin-right: 18px;
            // }
        }
    }
}

@media only screen and (max-width: 385px) and (max-height: 680px) {
    .todo-app-container {
        height: 513px;
        .upper-section {
            padding-left: 10px;
        }
    }
}

@media only screen and (max-width: 385px) {
    .todo-app-container {
        .sort-btn-container {
            justify-content: space-between;
            width: 330px;
            gap: 11px;
            button:not(:last-child) {
                margin-right: 0px;
            }
            button {
                min-width: 70px;
            }
        }
        .add-btn {
            margin-bottom: 20px;
        }
        .upper-section {
            padding-left: 15px;
        }
    }
}

@media only screen and (max-width: 365px) {
    .todo-app-container {
        .sort-btn-container {
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 325px) {
    .todo-app-container {
        height: 377px;
        .sort-btn-container {
            display: flex;
            justify-content: space-evenly;
            max-width: 310px;
            gap: 0px;
            button:not(:last-child) {
                margin-right: 5px;
            }
            button {
                min-width: 75px;
            }
            .importance-btn {
                min-width: 40px;
            }
        }
        .upper-section {
            width: 315px;
        }
    }
}