.todo-app-container{
    margin-top: 55px;
    input{
        margin-bottom: 30px;
    }
}
.sort-btn-container {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
}
.content-btn {
    width: 400px;
}
.date-btn {
    width: 200px;
}
.status-btn {
    width: 130px;
}
.importance-btn {
    width: 90px;
}