.todo-preview{
    display: flex;
    gap: 60px;
    margin-bottom: 10px;
}

.todo-preview.done {
    text-decoration: line-through;
}

.todo-content{
    width: 400px;
}

.todo-date{
    width: 200px;

}

.todo-status{
    width: 130px;

}
