<!-- detailed todo with edit btn -->
<div class="todo-preview-container">
    <div class="preview-ctr">
        <ul class="todo-preview" *ngIf="todo" class=" todo {{ (todo.isDone ? 'done' : '') }}">
            <li class="todo-content" (click)="onClickToEdit()">{{todo.title}}</li>
            <li class="todo-date">Created: {{todo.date | date:'short' }}</li>
            <li class="todo-status">status: {{todo.isDone? "Done":"Active"}}</li>
            <li class="todo-importance">Level: {{todo.importance}}</li>
            <!-- remove btn -->
        </ul>
        <button (click)="onIdToRemove.emit(todo._id)">Remove</button>
    </div>
</div>

