.todo-preview-container{
    display: flex;
    gap: 35px;
    ul{
        display: flex;
        gap: 35px;
        margin-bottom: 30px;
    }
    button{
        width: 100px;
        height: 28px;
    }
}

.todo-preview.done {
    text-decoration: line-through;
}
.todo-content{
    width: 400px;
}
.todo-date{
    width: 200px;
}
.todo-status{
    width: 130px;
}
.todo-importance{
    width: 100px;
}

