.todo-preview-container{
    display: flex;
    gap: 35px;
    .preview-ctr{
        display: flex;
        padding: 10px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    height: 47px;
    line-height: 28px;
}

ul{
    font-size: 18px;
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
    
    }
    button{
        width: 80px;
        height: 28px;
    }
}

.todo-preview.done {
    text-decoration: line-through;
}
.todo-content{
    width: 350px;
}
.todo-date{
    width: 250px;
}
.todo-status{
    width: 140px;
}
.todo-importance{
    width: 100px;
}

