<form (submit)="onSave()" class="todo-edit" *ngIf="todo; else loader">
    <label for="title">Title</label>
    <input type="text" id="title" [(ngModel)]="todo.title" name="title">
    <!-- <label for="title">Title</label>
    <input type="text" id="title" [(ngModel)]="todo.title" name="title"> -->
    <label for="importance">Importance</label>
    <input type="number" id="importance" [(ngModel)]="todo.importance" name="importance">

    <button>Save</button>
</form>
<ng-template #loader>
    <h2>Loading...</h2>
</ng-template>