<form (submit)="onSave()" #f="ngForm" class="todo-edit" *ngIf="todo; else loader">
    <label for="title">Title</label>
    <input type="text" id="title" [(ngModel)]="todo.title" name="title" #title="ngModel" minlength="3" required>
    <small [hidden]="title.valid || (title.pristine && !f.submitted)">Title required (Minimum 3 characters)</small>
        <label for="importance">Importance</label>
        <select name="importance" id="importance" [(ngModel)]="todo.importance">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label for="importance">Todo status</label>
        <select name="isDone" id="isDone" [(ngModel)]="todo.isDone">
            <option [ngValue]="true">Done</option>
            <option [ngValue]="false">Active</option>
        </select>
        <div class="save-btn">
            <button  [disabled]="!f.valid">Save</button>
        </div>
</form>
<ng-template #loader>
    <h2>Loading..</h2>
</ng-template>