@media (max-width: 3000px){
    .todo-list{
        height: 484px;
        overflow: auto;

    }
}

@media (max-width: 1300px){
    .todo-list{
        height: 443px;
        width: 884px;
        margin-left: 24px;
    }
}

@media (max-width: 900px){
    .todo-list{
        width: unset;
        margin-left: unset;
    }
}

@media (max-width: 600px){
    .todo-list{
        height: 345px;
    }
}

@media (max-width: 385px) and (min-height: 800px){
    .todo-list{
        height: 443px;
    }
}

@media (max-width: 385px){
    .todo-list{
        width: 385px;
    }
}

@media (max-width: 325px){
    .todo-list{
        width: 198px;
        height: 296px;
    }
}


// @media (max-width: 385px){
//     .todo-list{
//         width: 310px;
//     }
// }