<div class="todo-list">
    <!-- <app-todo-preview *ngFor="let todo of todos; index as idx; trackBy:trackByFn" [todo]="todo" [isAddTodo]="isAddTodo"  -->
    <!-- <app-todo-preview *ngFor="let todo of todos; index as idx; trackBy:trackByFn" [todo]="todo" [isEditTodo]="isEditTodo"  -->
    <app-todo-preview *ngFor="let todo of todos; index as idx; trackBy:trackByFn" [todo]="todo"
    (onIdToRemove)="onIdToRemove.emit($event)" (onToggleIsDone)="onToggleIsDone.emit($event)"></app-todo-preview>
</div>
