@media(max-width:3000px) {
    form {
        border: solid 1px wheat;
        width: 900px;
        margin: 0 auto;
        padding: 50px;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 56.5px;
        font-size: 20px;
        line-height: 30px;
        gap: 40px;
        .title-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                margin-bottom: 10px;
            }
            input, small{
                width: 550px;
            }
            input{
                padding: 0 10px;
            }
            ::placeholder{
                color: wheat;
                opacity: 0.4;
            }
            small {
                color: red;
                font-size: 14px;
                padding: 0px;
            }
        }
        .importance-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 153px;
            select{
                height: 22px;
            }
        }
        .status-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 153px;
            select{
                height: 22px;
            }

        }
        
        .save-btn{
            display: inline-block;
            button{
                width: 150px;
            }
        }
        input{
            border-radius: 5px;
            height: 31px;
            border: none;
        }
    }

}

@media (max-width:960px){
    form{
        width: 500px;
        .title-container{
            input, small{
                width: 400px;
            }
        }
    }
}

@media (max-width:615px){
    form{
        width: 400px;
        .title-container{
            input, small{
                width: 350px;
            }
        }
    }
}



@media(max-width:420px) {
    form{
        width: 380px;
    }
}

@media(max-width:385px) {
    form {
        width: 330px;
        line-height: 40px;
        margin-bottom: 0;
        input, small {
            width: 255px;
        }
        .save-btn {
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }
        input,
        select {
            margin-right: 20px;
        }
    }
    form>label {
        margin-right: 10px;
    }
}

@media(max-width:330px) {
    form {
        width: 310px ;
        input {
            width: 220px;
        }
        .save-btn {
            margin-top: 5px;
        }
        input{
            margin-right: 0;
        }
        label, select{
            margin-right: 14px;
        }
    }
    form:last-child{
        margin: 0 auto;
    }
}

@media (max-width: 325px) {
    form{
        width: 310px;
        border: none;

        .title-container{
            input, small{
                width: 270px;
            }
        }
    }
}