<form class="todo-filter">
    <div class="title-container">
        <label for="title">Search:</label>
        <input type="text" id="title" name="term" [(ngModel)]="filterBy.term" (ngModelChange)="onSetFilter()" placeholder="Text to search...">
    </div>
    <div class="category-container">
        <label for="category">Category:</label>
        <select name="category" id="category" [(ngModel)]="filterBy.category" (ngModelChange)="onSetFilter()">
            <option *ngFor="let cat of categories" [value]="cat === 'all' ? '' : cat">{{cat | titlecase}}</option>
        </select>
    </div>
</form>