@media (max-width:3000px){
form{
    margin-bottom: 30px;
    label{
        margin-right: 10px;
    }
    input{
        border: none;
        border-radius: 5px;
        padding-left: 50px;
        height: 31px;
    }
}
}

@media (max-width:420px){
    form{
        margin-bottom: 32px;
    }
}


@media (max-width:385px){
    form{
        margin-bottom: 20px;
    }
}


@media (max-width:325px){
    // form{
    //     margin-bottom: 20px;
    // }
}